<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>湖南行政学院学历查询认证系统</title>
  <link rel="stylesheet" href="/public/css/index.css" />
  <link rel="stylesheet" href="/public/css/frame.css" />
  <link type="text/css" rel="stylesheet" href="/public/css/jquery.toast.css">

</head>

<body>
  <div class="top-center-bottom">
    <div class="top">
      <img class="logo" src="/public/images/logo@2x.png"/>
    </div>
    <div class="center">
      <div class="contentPanel">
        <div class="selectPanel">
          <a href="/public" style="font-size:2em;text-decoration:none;">返回</a>
          <div style="display: table;margin-top:0.8em">

          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="bottomLeft">
          <a href="/public">网站首页</a>&nbsp&nbsp|&nbsp&nbsp<a href="/public/manageLogin" target="_blank">网站后台</a>
        </div>
        <div class="bottomRight">
          <p>
            中共湖南省委党校 湖南行政学院 ©版权所有 &nbsp&nbsp 地址：湖南省长沙市岳麓区白云路386号 邮编：410006
          </p>
        </div>
      </div>
    </div>

  </div>

</body>
<script src="/public/js/lib/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/public/js/lib/jquery.toast.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $.toast({
      heading: 'Error',
      text: '页面发生错误，请回到主页重试!',
      showHideTransition: 'fade',
      position: 'mid-center',
      icon: 'error'
    })
  });
</script>
</html>
