<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>学历查询管理后台</title>
  <link rel="stylesheet" href="/public/css/iview.css">
  <link rel="stylesheet" href="/public/css/frame.css">
</head>

<body>
  <div id="app">
  <div class="layout">
       <layout>
           <i-header>
               <i-menu mode="horizontal" theme="dark" @on-select="menuClick" active-name="1">
                   <div class="layout-logo"></div>
                   <div class="layout-nav">
                       <submenu name="1">
                          <template slot="title">
                              <icon type="ios-stats" ></icon>
                              学历信息管理
                          </template>
                          <menu-item name="1-1">本专科信息管理</menu-item>
                          <menu-item name="1-2">研究生信息管理</menu-item>
                       </submenu>
                       <menu-item name="2">
                           <icon type="ios-keypad"></icon>
                           学历信息导入
                       </menu-item>
                       <menu-item name="3">
                           <icon type="ios-analytics"></icon>
                           网站使用统计
                       </menu-item>
                       <menu-item name="4">
                           <icon type="md-close"></icon>
                           退出
                       </menu-item>
                   </div>
               </i-menu>
           </i-header>

           <i-content :style="{padding: '0 50px'}">
               <breadcrumb :style="{margin: '20px 0'}">
                   <breadcrumb-item>首页</breadcrumb-item>
                   <breadcrumb-item>学历信息管理</breadcrumb-item>
                   <breadcrumb-item><a href="/managePostgraduate">研究生信息管理</a></breadcrumb-item>
                   <breadcrumb-item>新增研究生信息</breadcrumb-item>
               </breadcrumb>
               <card>
                   <div class="contentPanel">
                     <i-form :model="postgraduateForm" label-position="left" :label-width="100">
                       <row>
                         <i-col span="3">&nbsp</i-col>
                         <i-col span="8">
                           <form-item label="姓名">
                               <i-input v-model="postgraduateForm.Xm"></i-input>
                           </form-item>
                         </i-col>
                         <i-col span="2">&nbsp</i-col>
                         <i-col span="8">
                           <form-item label="毕业证号">
                               <i-input v-model="postgraduateForm.Byzh"></i-input>
                           </form-item>
                         </i-col>
                         <i-col span="3"></i-col>
                       </row>
                       <row>
                         <i-col span="3">&nbsp</i-col>
                         <i-col span="8">
                           <form-item label="入学日期">
                               <date-picker type="month" v-model="postgraduateForm.Rxsj" placeholder="选择入学日期"></date-picker>

                           </form-item>
                         </i-col>
                         <i-col span="2">&nbsp</i-col>
                         <i-col span="8">
                           <form-item label="毕业时间">
                             <date-picker type="month" v-model="postgraduateForm.Bysj" placeholder="选择毕业时间"></date-picker>
                           </form-item>
                         </i-col>
                         <i-col span="3"></i-col>
                       </row>
                       <row>
                         <i-col span="3">&nbsp</i-col>
                         <i-col span="8">
                           <form-item label="性别">
                             <radio-group v-model="postgraduateForm.Xb">
                                <radio label="男"></radio>
                                <radio label="女"></radio>
                            </radio-group>

                           </form-item>
                         </i-col>
                         <i-col span="2">&nbsp</i-col>
                           <i-col span="8">
                             <form-item label="代号">
                                 <i-input v-model="postgraduateForm.Dh"></i-input>
                             </form-item>
                         </i-col>
                         <i-col span="3"></i-col>
                       </row>
                       <row>
                         <i-col span="3">&nbsp</i-col>
                         <i-col span="8">
                           <form-item label="专业名称">
                               <i-input v-model="postgraduateForm.Zymc"></i-input>
                           </form-item>
                         </i-col>
                         <i-col span="2">&nbsp</i-col>
                         <i-col span="8">
                           <form-item label="身份证号">
                               <i-input v-model="postgraduateForm.Sfzh"></i-input>
                           </form-item>
                         </i-col>
                         <i-col span="3"></i-col>
                       </row>
                       <row>
                         <i-col span="3">&nbsp</i-col>
                         <i-col span="8">
                           <form-item label="学号">
                               <i-input v-model="postgraduateForm.Xh"></i-input>
                           </form-item>
                         </i-col>
                         <i-col span="2">&nbsp</i-col>
                         <i-col span="8">

                           <form-item label="照片">
                             <upload action="/manage/file/uploadImagesFile/1" :on-success="uploadHeadIconSuccess">
                                <i-button icon="ios-cloud-upload-outline">Upload files</i-button>
                            </upload>
                            <img  v-bind:src="headImgae" style="width:120px;height:auto;background-size: cover;background-repeat: no-repeat;"/>
                           </form-item>
                         </i-col>
                         <i-col span="3"></i-col>
                       </row>
                       <row style="text-align:center">
                         <i-button style="width:200px;margin-top:30px" type="primary" @click="handleSubmit()">提交</i-button>
                       </row>
                   </i-form>
                   </div>
               </card>
           </i-content>
           <i-footer class="layout-footer-center">2019-2029 &copy; 中共湖南省委党校湖南行政学院</i-footer>
       </layout>
   </div>

  </div>
</body>
<script src="/public/js/lib/vue.min.js"></script>
<script src="/public/js/lib/iview.min.js"></script>
<script src="/public/js/lib/axios.min.js"></script>
<script src="/public/js/src/addPostgraduate.js"></script>
</html>
