<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>学历查询管理后台</title>
  <link rel="stylesheet" href="/public/css/iview.css">
  <link rel="stylesheet" href="/public/css/frame.css">
</head>

<body>
  <div id="app">
  <div class="layout">
       <layout>
           <i-header>
               <i-menu mode="horizontal" theme="dark" @on-select="menuClick" active-name="1">
                   <div class="layout-logo"></div>
                   <div class="layout-nav">
                       <submenu name="1">
                          <template slot="title">
                              <icon type="ios-stats" ></icon>
                              学历信息管理
                          </template>
                          <menu-item name="1-1">本专科信息管理</menu-item>
                          <menu-item name="1-2">研究生信息管理</menu-item>
                       </submenu>
                       <menu-item name="2">
                           <icon type="ios-keypad"></icon>
                           学历信息导入
                       </menu-item>
                       <menu-item name="3">
                           <icon type="ios-analytics"></icon>
                           网站使用统计
                       </menu-item>
                       <menu-item name="4">
                           <icon type="md-close"></icon>
                           退出
                       </menu-item>
                   </div>
               </i-menu>
           </i-header>

           <i-content :style="{padding: '0 50px'}">
               <breadcrumb :style="{margin: '20px 0'}">
                   <breadcrumb-item>首页</breadcrumb-item>
                   <breadcrumb-item>网站使用统计</breadcrumb-item>
               </breadcrumb>
               <card>
                   <div class="contentPanel">
                     <row style="text-align:center;margin-top:10px">
                        <h3>当前学历库总共有学生 <strong style="color:red">${amount}</strong> 人，其中研究生 <strong style="color:red">${postgraduateCount}</strong> 人，本专科生 <strong style="color:red">${undergraduateCount}</strong> 人。</h3>
                     <row>
                       <row style="text-align:center;margin-top:10px">
                          <h3>当前库查询总数为 <strong style="color:red">${searchCount}</strong> 人/次，下载次数为 <strong style="color:red">${downLoadCount}</strong> 人/次。</h3>
                       <row>
                      <row style="margin-top:30px">
                        <i-col span="1"><p>按月</p></i-col>
                        <i-col span="4">
                          <date-picker type="year" confirm placeholder="Select year" format="yyyy" @on-change="time1" @on-ok="searchCountByYear" @on-clear="clearData1" style="width: 200px"></date-picker>
                        </i-col>
                        <i-col span="1"><p>按日</p></i-col>
                        <i-col span="4">
                          <date-picker type="month" confirm placeholder="Select month" format="yyyy-MM" @on-change="time2" @on-ok="searchCountByMonth" @on-clear="clearData2" style="width: 200px"></date-picker>
                        </i-col>
                        <i-col span="2">&nbsp&nbsp&nbsp&nbsp</i-col>
                        <i-col span="1"><p>按月</p></i-col>
                        <i-col span="4">
                          <date-picker type="year" confirm placeholder="Select year" format="yyyy" @on-change="time3" @on-ok="downLoadCountByYear" @on-clear="clearData3" style="width: 200px"></date-picker>
                        </i-col>
                        <i-col span="1"><p>按日</p></i-col>
                        <i-col span="4">
                          <date-picker type="month" confirm placeholder="Select month" format="yyyy-MM" @on-change="time4" @on-ok="downLoadCountByMonth" @on-clear="clearData4" style="width: 200px"></date-picker>
                        </i-col>
                      </row>
                       <row style="margin-top:30px;">

                          <i-col span="12">
                            <div id="chart1" style="width: 600px;height:300px;"></div>
                          </i-col>
                          <i-col span="12">
                            <div id="chart2" style="width: 600px;height:300px;"></div>
                          </i-col>
                       <row>
                   </div>
               </card>
           </i-content>
           <i-footer class="layout-footer-center">2019-2029 &copy; 中共湖南省委党校湖南行政学院</i-footer>
       </layout>
   </div>

  </div>
</body>
<script src="/public/js/lib/vue.min.js"></script>
<script src="/public/js/lib/iview.min.js"></script>
<script src="/public/js/lib/echarts.min.js"></script>
<script src="/public/js/lib/axios.min.js"></script>
<script src="/public/js/src/statistics.js"></script>
</html>
